@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --primary-color: #A3E635;
    --secondary-color: #9CA3AF;
}

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
}


nav
{
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


#txt-input{
    display: block; 
    font-size: 4vh;
}

#output{
    border: 1px solid black;
    font-size: 4vh;
    background-color: white;
}


.box-style{
    width: 50%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
    margin-bottom: 3rem;
}
.container{
  border: 2px solid black;
  margin: 4rem 10rem;
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.btn{
    width: 20%;
    height: 8vh;
    display: block;
    padding: 1rem;
    margin: auto;
    font-weight: 600;  
    
    border-radius: 3rem;
    font-size: 3vh;

}
.btn-style{
    font-size: larger; 
    background-color: var(--primary-color); 
   
}
.btn-inverse{
    text-decoration: none;
    color: black;
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color);
    border-radius: 0.5rem;
    margin-left: 3rem;  
}



.footer{
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}   

.footer p{
    max-width: 600px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
} 