@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --primary-color: #A3E635;
    --secondary-color: #9CA3AF;
}

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
}


nav
{
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 3rem;
}


#txt-input{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}
.btn{
    width: 20%;
    height: 8vh;
    display: block;
    padding: 1rem;
    margin: auto;
    
    border-radius: 3rem;
    font-size: 3vh;

}
.btn-style{
    font-size: larger; 
    background-color: var(--primary-color);   
}
.btn-inverse{
    text-decoration: none;
    color: black;
    background-color: var(--primary-color);
    border: 4px solid var(--primary-color);
    border-radius: 0.5rem;
    margin-left: 3rem;  
}

.box-style{
    width: 50%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
}


.footer{
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
    text-align: center;
  
}   

.footer p{
    max-width: 600px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
} 